name: "[flutter] Test Nativebrik SDK"

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - .github/workflows/e2e.yaml
      - .github/workflows/publish.yaml
      - .gitignore
      - README.md
  pull_request:
    branches: [ main ]
    paths-ignore:
      - .github/workflows/e2e.yaml
      - .github/workflows/publish.yaml
      - .gitignore
      - README.md

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Set up Flutter
        uses: ./.github/actions/setup-flutter

      - name: Validate package
        run: dart pub publish --dry-run
